# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# VS Code settings
.vscode/

# Python environment files
*.env
*.env.*

# Pytest cache
.pytest_cache/

# Installer logs
pip-log.txt

# Distribution / packaging
build/
dist/
*.egg-info/

# System files
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Screenshot or other images (optional)
*.png
